body {
  scroll-behavior: smooth;
}

/* utilities */
.outer-space-color {
  color: #192121;
}

.affair-color {
  color: #804898;
}

.gosamer-color {
  background-color: #09a874;
}

.gradient {
  background: linear-gradient(to right, #804898, #e22394);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: inherit; /* Inherits color from parent */
  text-decoration: none; /* Removes underline */
}

/* For nav-items specifically */
.nav-item a,
.nav-item a:hover {
  color: inherit;
}

/* Hero styling */
#hero {
  background-image: url("../img/hero-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.glass {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
  max-width: 800px;
  margin: 2rem auto;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Experiences styling */
.experience-section {
  background-color: #f8f9fa;
}

/* Make entire carousel item clickable */
.carousel-item {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.carousel-item:hover {
  transform: scale(1.01);
}

/* Adjust carousel image height */
.carousel-inner {
  max-height: 500px;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}

/* Override active default bg color */
.active {
  background-color: #e22394 !important;
  color: #192121 !important ;
}

/* Font */
@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "dmSans";
  src: url("../fonts/DMSans_18pt-Regular.ttf");
}

@font-face {
  font-family: "spaceMono";
  src: url("../fonts/SpaceMono-Regular.ttf");
}

.font-poppins {
  font-family: "poppins";
}

.font-dmsans {
  font-family: "dmSans";
}

.font-spacemono {
  font-family: "spaceMono";
}
